.name {
    position: relative;
    width: max-content;
    margin: auto;
    height: 150px;
    transform: translateY(250px);
}

.name h2 {
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  animation: typing 10s steps(13) infinite;
  white-space: nowrap; 
}

.name::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #646464;
  animation: blinkCursor 0.8s steps(3) infinite; 
}
  
  @keyframes blinkCursor {
    0%,75% {
      opacity: 1; }
    76%,100% {
      opacity: 0; } }
  @keyframes typing {
    0%,90%,100% {
      width: 0; }
    30%,60% {
      width: 1140px; } }